<div class="col-lg-12">
  <h1>Chốt profit/ lost</h1>
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label>Giá mua</label>
      <input type="buyPrice" class="form-control" placeholder="Buy Price" formControlName="buyPrice" autofocus>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <select class="form-control" formControlName="profitLost">
        <option value="profit">Tăng</option>
        <option value="lost">Giảm</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" formControlName="percent">
        <option *ngFor="let percent of percentList" value="{{ percent }}">{{ percent }}%</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Tính Toán</button>
  </form>
  <div *ngIf="showResult" class="row pt-10">
    <div class="clearfix"></div>
    <div class="col-xs-6 text-left">Chốt</div>
    <div class="col-xs-6 text-right">{{ finalPrice }}</div>
  </div>
</div>
