<h1>Chọn coin bạn đang sở hữu</h1>

<md-tab-group>
  <!-- BTC -->
  <md-tab label="BTC">
    <div class="container">
      <div class="col-sm-6 col-md-6" *ngFor="let coin of btcList">
        <md-checkbox>{{ coin.name }} ( {{ coin.code }})</md-checkbox>
      </div>
    </div>
  </md-tab>
  <!-- XMR -->
  <md-tab label="XMR">
    <div class="container">
      <div class="col-sm-6 col-md-6" *ngFor="let coin of xmrList">
        <md-checkbox checked="true">{{ coin.name }} ( {{ coin.code }})</md-checkbox>
      </div>
    </div>
  </md-tab>
  <!-- ETH -->
  <md-tab label="ETH">
    <div class="container">
      <div class="col-sm-6 col-md-6" *ngFor="let coin of ethList">
        <md-checkbox>{{ coin.name }} ( {{ coin.code }})</md-checkbox>
      </div>
    </div>
  </md-tab>
  <!-- USDT -->
  <md-tab label="USDT">
    <div class="container">
      <div class="col-sm-6 col-md-6" *ngFor="let coin of usdtList">
        <md-checkbox>{{ coin.name }} ( {{ coin.code }})</md-checkbox>
      </div>
    </div>
  </md-tab>
</md-tab-group>
