@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";

html {
  -webkit-text-size-adjust: none;
}

body {
  background-color: #F5F7FA;
  color: #000000;
  font-size: 14px;
  font-family: Roboto, Arial, 'sans-serif';
  line-height: normal;
}
.mat-tab-body-content {
  padding: 10px;
}
.loading-overlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.85);
  background: url('./assets/images/giphy-5gif.gif') no-repeat fixed center center;
  z-index: 300;
  color:white;
  user-select: none;
  opacity: 0.6;
}
.pt-10 {
  padding-top: 10px;
}


